.auth {
  height: 100vh;
  background-color: $light;

  .__barber_background {
    position: absolute;
    height: 50%;
    width: 100vw;
    background-color: $primary;
    border-radius: 0px 0px 50px 50px;
  }

  .auth_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth_card {
      max-width: 500px;
      border: none;
      padding: 20px 28px;

      .auth_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-weight: 300;
          letter-spacing: 0.3rem;

          span:last-child {
            color: $primary;
          }
        }

        p,
        h4 {
          padding-top: 12px;
          padding-bottom: 12px;
        }

        h4 {
          margin-bottom: 12px;
        }

        .auth_logo {
          width: 250px;
        }

        .auth_title_line {
          margin-top: 20px;
          margin-bottom: 20px;
          height: 3px;
          width: 100px;
          background-color: $primary;
          border-radius: 20px;
        }

      }
    }
  }
}

.__barber_dashboard {
  background-color: $gray-200;

  .__barber_dashboard_sidebar {
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    .__barber_dashboard_logo {
      width: 200px;
      margin: 20px 0px;
      padding: 8px 0px;
    }

  }

  .__barber_dashboard_sidelinks {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 4px 16px;
    width: 100%;
    font-weight: 500;
    margin-top: 20px;

    .__barber_dashboard_link_item {
      display: flex;
      align-items: center;

      color: $dark;
      padding: 8px 12px;

      span {
        margin: 0px 8px;
      }
    }
  }
}

.__barber_navbar {
  color: $dark;
  width: inherit;
  padding: 12px 0px;

  .__barber_navbar_avatar {
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1rem;
      padding: 0px 4px;
    }

    i {
      padding: 0px 8px;
    }

    span {
      font-weight: 600;
    }
  }
}

.__barber_dashboard_body {
  background-color: #fff;
  width: inherit;
  position: absolute;
  right: 0;
  z-index: -1;
  height: 100vh;
  padding-top: 20px;

  .__barber_dashboard_body_container {
    background-color: $light;
    padding: 32px;
    min-height: 96vh;
  }
}

.__barber_dashboard_profile {
  h5 {
    font-weight: 600;
  }


  .__barber_profile_avatar {
    margin-top: 16px;

    img {
      width: 100%;
    }
  }

  .__barber_dashboard_status {
    h2 {
      display: flex;
      flex-direction: row;

      i {
        margin-left: auto;
        color: $gray-500;
        cursor: pointer;
      }
    }


    h2:last-child {
      padding: 8px 0px 0px 0px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .badge {
        font-size: 0.7rem;
      }

      i {
        margin-left: 8px;
        font-size: 1.2rem;
      }
    }
  }

  .__barber_dashboard_profile_shop {
    h5 {
      display: flex;
      flex-direction: row;

      & span:last-child {
        margin-left: auto;
        color: $gray-600;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}